Diagnostics:
  Suppress:
    - shift-op-parentheses

CompileFlags:
  Compiler: /etc/profiles/per-user/simtal/bin/g++
  Add:
    - -std=c++17
    - -Wall
    - -Wextra
    - -Wno-sign-compare
    - -I/home/simtal/.local/include/ac-library
