@define-color bg     #282a36;
@define-color fg     #f8f8f2;
@define-color sep    #44475a;

@define-color white  #f8f8f2;
@define-color black  #191a21;
@define-color red    #ff5555;
@define-color green  #50fa7b;
@define-color yellow #f1fa8c;
@define-color blue   #b3d6ff;
@define-color purple #bd93f9;
@define-color cyan   #8be9fd;
@define-color pink   #ff79c6;
@define-color orange #ffb86c;

* {
    border:none;
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font", "JetBrainsMono NF", sans-serif;
    min-height: 0;
    min-width: 0;
    font-weight: 500;
}

window#waybar {
    background:transparent;
    margin: 5px;
}

#workspaces button:hover {
    background-color: @fg;
    color: @black;
}
#workspaces button.active {
    background-color: @blue;
    color: @black;
}
#workspaces button.urgent {
    background-color: @bg;
    color: @red;
}

#workspaces button {
    padding: 5px 10px;
    margin: 6px 1px;
    background-color: @bg;
    color: @fg;
}

#custom-mpd, #bluetooth, #network, #custom-idle,
#clock, #clock#simpleclock,
#temperature, #cpu, #memory, #backlight, #pulseaudio, #custom-mic, #tray, #battery {
    padding: 3px 7px;
    margin: 6px 2px;
    border-radius: 6px;
    background-color: @bg;
    color: @fg;
}

.modules-left   {padding-left:  7px;}
.modules-right  {padding-right: 7px;}

#custom-mpd        { color: @yellow; }
#bluetooth         { color: @white; }
#bluetooth.connected { color: @blue; }
#network           { color: @cyan; }
#custom-idle.on    { color: @green; }
#custom-idle.off   { color: @red; }
#clock             { color: @green; }
#clock.simpleclock { color: @cyan; }
#temperature       { color: @red; }
#cpu               { color: @yellow; }
#memory            { color: @purple; }
#backlight         { color: @yellow; }
#pulseaudio        { color: @green; }
#pulseaudio.muted  { color: @sep; }
#custom-mic.no     { color: @green; }
#custom-mic.yes    { color: @red; }
#tray              { color: @purple; }
#battery           { color: @green; }

tooltip {
    background-color: @black;
    border: 2px solid @blue;
    border-radius: 6px;
}

#temperature {
    color: @orange;
}

#temperature.critical {
    color: @red;
}

#battery.charging {
    color: @black;
    background-color: @green;
}

#battery.warning:not(.charging) {
    color: @black;
    background-color: @orange;
}

#battery.critical:not(.charging) {
    color: @black;
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @bg;
        color: @red;
    }
}
