@define-color bg #1b1b25;
@define-color fg #dedede;
@define-color sep #F8F8F2;

@define-color white #eeffff;
@define-color black #15121c;
@define-color red #cb5760;
@define-color green #999f63;
@define-color yellow #d4a067;
@define-color blue #6c90a8;
@define-color purple #776690;
@define-color cyan #528a9b;
@define-color pink #ffa8c5;
@define-color orange #c87c3e;

* {
    border:none;
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
    min-height: 0;
    min-width: 0;
    font-weight: 500;
}

window#waybar {
    background:transparent;
    margin: 5px;
}

#workspaces button:hover    { background-color: #cdd6f4; color: #1e1e2e; }
#workspaces button.focused  { background-color: #89b4fa; color: #1e1e2e; }
#workspaces button.urgent   { background-color: #1e1e2e; color: #f38ba8; }

#workspaces button {
    padding: 5px 10px;
    margin: 6px 1;
    background-color: @bg;
    color: #ffffff;
}

#custom-mpd, #bluetooth, #network,
#clock, #clock#simpleclock,
#temperature, #cpu, #memory, #backlight, #pulseaudio, #tray, #battery {
    padding: 5px 10px;
    margin: 6px 4px;
    border-radius: 6px;
    background-color: @bg;
    color: #ffffff;
}

.modules-left   {padding-left:  7px;}
.modules-right  {padding-right: 7px;}

#custom-mpd         { color: #f9e2af; }
#bluetooth          { color: #89b4fa; }
#network            { color: #94e2d5; }
#clock              { color: #40c9a2; }
#clock.simpleclock  { color: #00d4ff; }
#temperature        { color: #f87171; }
#cpu                { color: #f9e2af; }
#memory             { color: #cba6f7; }
#backlight          { color: #f9e2af; }
#pulseaudio         { color: #a6e3a1; }
#pulseaudio.muted   { color: #6c7086; }
#tray               { color: #cba6f7; }
#battery            { color: #a6e3a1; }

/* #bluetooth .bt-icon { */
/*     font-size: 20px; */
/* } */

tooltip {
  background-color: #1e1e2e;
  border: 2px solid #89b4fa;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
