@define-color bg     #282a36;
@define-color fg     #f8f8f2;
@define-color sep    #44475a;

@define-color white  #f8f8f2;
@define-color black  #191a21;
@define-color red    #ff5555;
@define-color green  #50fa7b;
@define-color yellow #f1fa8c;
@define-color blue   #b3d6ff;
@define-color purple #bd93f9;
@define-color cyan   #8be9fd;
@define-color pink   #ff79c6;
@define-color orange #ffb86c;

* {
    border:none;
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
    min-height: 0;
    min-width: 0;
    font-weight: 500;
}

window#waybar {
    background:transparent;
    margin: 5px;
}

#workspaces button:hover    { background-color: #cdd6f4; color: #1e1e2e; }
#workspaces button.active  { background-color: #89b4fa; color: #1e1e2e; }
#workspaces button.urgent   { background-color: #1e1e2e; color: #f38ba8; }

#workspaces button {
    padding: 5px 10px;
    margin: 6px 1;
    background-color: @bg;
    color: #ffffff;
}

#custom-mpd, #bluetooth, #network, #custom-idle,
#clock, #clock#simpleclock,
#temperature, #cpu, #memory, #backlight, #pulseaudio, #custom-mic, #tray, #battery {
    padding: 5px 10px;
    margin: 6px 4px;
    border-radius: 6px;
    background-color: @bg;
    color: #ffffff;
}

.modules-left   {padding-left:  7px;}
.modules-right  {padding-right: 7px;}

#custom-mpd        { color: @yellow; }
#bluetooth         { color: @white; }
#bluetooth.connected { color: @blue; }
#network           { color: @cyan; }
#custom-idle.on    { color: @green; }
#custom-idle.off   { color: @red; }
#clock             { color: @green; }
#clock.simpleclock { color: @cyan; }
#temperature       { color: @red; }
#cpu               { color: @yellow; }
#memory            { color: @purple; }
#backlight         { color: @yellow; }
#pulseaudio        { color: @green; }
#pulseaudio.muted  { color: @sep; }
#custom-mic.no     { color: @green; }
#custom-mic.yes    { color: @red; }
#tray              { color: @purple; }
#battery           { color: @green; }
tooltip { border: 2px solid @blue; }

tooltip {
  background-color: #1e1e2e;
  border: 2px solid #89b4fa;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
