[mgr]
prepend_keymap = [
	# plugin
	{ on = "l", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
	{ on = [ "c", "m" ], run = "plugin chmod", desc = "Chmod on selected files" },

    { on = "m", run = "plugin bookmarks save", desc = "Save current position as a bookmark" },
    { on = ["'"], run = "plugin bookmarks jump", desc = "Jump to a bookmark" },
    { on = ["b", "d"], run = "plugin bookmarks delete", desc = "Delete a bookmark" },
    { on = ["b", "D"], run = "plugin bookmarks delete_all", desc = "Delete all bookmarks" },

    # \y → ~/clipboard로 복사
    { on = ["\\", "y"], run = "shell --block 'mkdir -p \"$HOME/clipboard\" && cp -r -n -- $@ \"$HOME/clipboard/\"'", desc = "Copy to ~/clipboard" },

    # \x → ~/clipboard로 이동
    { on = ["\\", "x"], run = "shell --block 'mkdir -p \"$HOME/clipboard\" && mv -- $@ \"$HOME/clipboard/\"'", desc = "Move to ~/clipboard" },

    # \p → ~/clipboard에서 붙여넣기
    { on = ["\\", "p"], run = "shell --block '[ -d \"$HOME/clipboard\" ] && find \"$HOME/clipboard\" -mindepth 1 -maxdepth 1 -exec mv -t . -- {} + || true'", desc = "Paste ~/clipboard into current directory" },

	# \d -> blobdrop
	{ on = ["\\", "d"], run = "shell --orphan -- blobdrop -- \"$@\"", desc = "Drag selected via blobdrop" },

    # \o → dolphin
    { on = ["\\", "o"], run = "shell --orphan -- bash -c 'nohup dolphin \"$PWD\" >/dev/null 2>&1 &'", desc = "Open current directory in Dolphin" },

    # \u → unzip
    { on = ["\\", "u"], run = "shell --block '~/.config/yazi/yazi-unzip \"$0\"'", desc = "Unzip hovered .zip into same-name folder" },

    # \z -> zip
    { on = ["\\", "z"], run = "shell --block '~/.config/yazi/yazi-zip -- \"$@\"'", desc = "Zip selected (top-level basenames)" },

    # go
    { on = ["g", "D"], run = "cd ~/Desktop", desc = "Go ~/Desktop" },
    { on = ["g", "s"], run = "cd ~/Pictures/Screenshots", desc = "Go ~/Pictures/Screenshots" },
    { on = ["g", "n"], run = "cd ~/notepad", desc = "Go ~/notepad" },
	{ on = ["g", "p"], run = 'cd "~/vsc/ps"', desc = "Go ~/vsc/ps" },
	{ on = ["g", "m"], run = "cd ~/mnt", desc = "Go ~/mnt" },
	{ on = ["g", "c"], run = "cd ~/coding/", desc = "Go ~/coding/" },

	# linemode (plugin bookmarks랑 겹쳐서 따로 매핑)
	{ on = ["i", "s"], run = "linemode size" },
    { on = ["i", "p"], run = "linemode permissions" },
    { on = ["i", "b"], run = "linemode btime" },
    { on = ["i", "m"], run = "linemode mtime" },
    { on = ["i", "o"], run = "linemode owner" },
    { on = ["i", "n"], run = "linemode none" },
]
